{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login/CSS/bootstrap.min.css' %}">
</head>
<body>
    <h1 class="d-flex justify-content-center">Invalid username. Username does not exist</h1>
    <form class="py-5 d-flex justify-content-center" method="post">
        {% csrf_token %}
        <button type="submit" class="submit btn btn-success m-2" id="submit">
            <a href="{% url 'login:forget_password_page' %}" class="text-white">Change Password</a>
        </button>
        <button type="submit" class="submit btn btn-success m-2" id="submit">
            <a href="{% url 'login:home' %}" class="text-white">Home</a>
        </button>
    </form>
</body>
</html>