{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        {% csrf_token %}
        <div class="d-flex justify-content-center m-5 p-5">
            <button type="submit" class="submit btn btn-success" id="Sign up"><a href="/login/register/">Sign up</a></button>
        <div>

        </div class="d-flex justify-content-center m-5 p-5">
            <button type="submit" class="submit btn btn-success" id="login"><a href="/login/login_page/">Login</a></button>
        </div>
    </form>
</body>
</html>